<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>投稿一覧</title>
</head>
<body>
    <h1>運動記録一覧</h1>

    <a href="{% url 'post_create' %}">＋ 新しい記録を作成</a>
    <hr>

    {% for post in posts %}
        <div>
            <h2>
                <a href="{% url 'post_detail' post.id %}">
                    {{ post.title }}
                </a>
            </h2>
            <p>
                投稿者：{{ post.user.username }} /
                運動時間：{{ post.duration }}分
            </p>
            <p>投稿日：{{ post.created_at }}</p>
        </div>
        <hr>
    {% empty %}
        <p>まだ投稿がありません。</p>
    {% endfor %}
</body>
</html>
