<h1>{{ user_obj.username }} のフォロワー</h1>

<ul>
{% for user in users %}
    <li>
        <a href="{% url 'profile:detail' user.username %}">
            {{ user.username }}
        </a>

        {% if request.user.is_authenticated and request.user != user %}
            <form method="post"
                  action="{% url 'follow:toggle' user.username %}"
                  style="display:inline;">
                {% csrf_token %}

                {% if user.id in following_ids %}
                    <button type="submit">フォロー解除</button>
                {% else %}
                    <button type="submit">フォロー</button>
                {% endif %}
            </form>
        {% endif %}
    </li>
{% empty %}
    <li>ユーザーはいません</li>
{% endfor %}
</ul>
 <a href="{% url 'profile:detail' request.user.username%}" class="btn btn-secondary">戻る</a>